<strong>Olá, {{ deliveryman }}</strong>
<p>
Por conta da gravidade dos problemas relatados pelo entregador, a entrega
de numero {{ delivery_id }} foi cancelada pela transportadora.
</p><br />

<small>Data do cancelamento: {{ date }}</small>

